@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply m-0 p-0 box-border;
}

.container{
    @apply my-0 mx-auto max-w-[1000px] py-0 px-4;
}

.blue-gradient{
    @apply bg-gradient-to-r from-blue-400 to-blue-500;
    @apply bg-clip-text text-transparent;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

input:focus + h1,
textarea:focus + h1 {
  @apply top-[-10%] bg-white w-fit text-[#147efb] ease-in-out duration-1000;
}

form input:valid {
  @apply bg-white ;
}

input:valid + h1,
textarea:valid + h1 {
  @apply top-[-10%] bg-white w-fit text-[#147efb] ease-in-out duration-1000;
}

/* @apply mt-1 ml-7 ease-in-out infinite infinite */
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
  